<div class="sidebar bg-dark slab-overflow-container" [class.toggled]="!isVisible">
    <ul class="list-unstyled">
        <li class="c-pointer" [class.selected]="selectedMenuId==='kti'"><a (click)="select('kti',undefined)"><i class="fa fa-life-ring"></i> My Summary</a></li>
        <ng-container *ngIf="topSkill && topSkill.children">
            <li *ngFor="let skill of topSkill.children">
                <subsidebar [skill]="skill" [selectedMenuId]="selectedMenuId" [level]="level+1" (skillSelected)="select('it',$event)"></subsidebar>
            </li>
        </ng-container>
    </ul>
</div>