

:host {
  background: rgb(53, 58, 64);
}
.selected {
  background: #328bed !important;
  color: white !important;
}

.sidebar {
  min-width: 300px;
  max-width: 300px;
  transition: all 0.3s;
}

.sidebar.toggled {
  margin-left: -350px;
}

a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, .75) !important;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -300px;
  }
  .sidebar.toggled {
    margin-left: 0;
  }
}

