<div class="container-fluid mt-2">
    <h4 *ngIf="withTitle">{{skill.text}}</h4>
    <div *ngIf="withCounters" class="row mt-1">
        <div class="col-md-4 ml-auto mb-2">
            <systelab-percentage-circle [value]="percentageOfCompletion" [text]="'Completion'" [color]="'green'"></systelab-percentage-circle>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6">
            <skills-table [isProficiency]="true" [data]="topTenByProficiency"></skills-table>
        </div>
        <div class="col-md-6">
            <skills-table [isProficiency]="false" [data]="topTenByInterest"></skills-table>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6">
            <skills-to-improve-table [data]="skillsToImprove"></skills-to-improve-table>
        </div>
    </div>

</div>
