<div class="container-fluid d-flex">
    <div class="row mt-1 w-100 slab-flex-1">
        <div class="col-md-6 p-2">
            <systelab-chart #chart1 [maintainAspectRatio]="false" [labels]="labels" [data]="dataBar1" [legend]="legend" [typeChart]="'radar'" [isBackgroundGrid]="false" [minValueForRadar]="0" [maxValueForRadar]="10"></systelab-chart>
        </div>
        <div class="col-md-6 p-2">
            <systelab-chart #chart2 [maintainAspectRatio]="false" [labels]="labels" [data]="dataBar2" [legend]="legend" [typeChart]="'radar'" [isBackgroundGrid]="false" [minValueForRadar]="0" [maxValueForRadar]="10"></systelab-chart>
        </div>
    </div>
</div>
