.partial {
  color: gray;
}

.badge-position {
  width: 25px;
  height: 25px;
  padding-top: 6px;
}
.image-proficiency {
  font-size: 20px;
  margin-top: 3px;
  width: 25px;
}

.image-interest {
  font-size: 20px;
  margin-top: 3px;
  width: 25px;
}


.label-padding-2 {
  padding-left: 15px;
}

.label-padding-3 {
  padding-left: 20px;
}

.label-padding-4 {
  padding-left: 25px;
}

.label-padding-5 {
  padding-left: 30px;
}

.label-padding-6 {
  padding-left: 35px;
}

.label-padding-7 {
  padding-left: 40px;
}

.label-padding-8 {
  padding-left: 45px;
}
